<div class="list-group complementary">
    <a href="/JapaneseMinecraftModificationStandards/" class="list-group-item"><span class="mega-octicon octicon-home"></span> ホーム</a>
    <a href="/JapaneseMinecraftModificationStandards/item/" class="list-group-item"><span class="mega-octicon octicon-book"></span> 項目</a>
    <a class="list-group-item"><span class="mega-octicon octicon-tag"></span> タグ<small>(準備中)</small></a>
    <!--<a class="list-group-item-disabled">
        <li class="dropdown">
            <a class="dropdown-toggle" href="#"><span class="mega-octicon octicon-tag"></span> タグ</a>
            <ul class="dropdown-menu pull-right">
                {{#each allTags}}
                    <li><a href="/JapaneseMinecraftModificationStandards/tags/{{urlSafe}}/">{{urlSafe}}</a></li>
                {{/each}}
            </ul>
        </li>
    </a>-->
</div>